<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="description" content="Thoughts, reviews and ideas since 1999."/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/screen.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/paginator.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/register_login_etc.css' %}"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Create Post</title>
    {% endif %}

</head>
<body>
     <div class="site-wrapper">
        <nav class="main-nav overlay clearfix">
            <a class="blog-logo" href="{% url 'index' %}"><img src="{% static 'blog/img/logo.png' %}"/></a>
            <ul id="menu">
                <li class="nav-home nav-current" role="presentation"><a href="{% url 'index' %}">Home</a></li>
                <li class="nav-about-us" role="presentation"><a href="{% url 'about' %}">About Us</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-home nav-current" role="presentation"><a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a></li>
                    <li class="nav-home nav-current" role="presentation"><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-home nav-current" role="presentation"> <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-home nav-current" role="presentation"><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-home nav-current" role="presentation"><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <span class="socialheader">
                    <a href="#"><span class='symbol'>circletwitterbird</span></a>
                    <a href="#"><span class='symbol'>circlefacebook</span></a>
                    <a href="#"><span class='symbol'>circlelinkedin</span></a>
                    <a href="mailto:alexandru.aprodu1@gmail.com"><span class='symbol'>circleemail</span></a>
                </span>
            </ul>
		</nav>



        <main role="main" class="container">
              <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div id="success">
                                {{ message }}
                            </div>

                        {% endfor %}
                    {% endif %}
                </div>
              </div>
        </main>
        {% block content %}{% endblock %}

     </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{% static 'blog/js/masonry.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/jquery.fitvids.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/paginator.js' %}"></script>
</body>
</html>