{% extends "blog/base.html" %}
{% load static %}
<body class="home-template">
	{% block content %}

		<header class="main-header " style="background-image: url({{ quote.image.url }})">
			<div class="vertical">
				<div class="main-header-content inner">
					<h1 class="page-title">{{ quote.title }}</h1>
					<div class="entry-title-divider">
						<span></span><span></span><span></span>
					</div>
					<h2 class="page-description">{{ quote.quote }}</h2>
				</div>
			</div>
			<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
		</header>
		<main id="content" class="content" role="main">
			<div class="wraps">
				<img src="{% static 'blog/img/shadow.png' %}" class="wrapshadow">

					 <div class="grid">
                         {% for post in posts %}
                            <div class="grid-item">
                                <article class="post tag-romance">
                                    <a href="{% url 'post-detail' post.id %}"><img src="{{post.image.url}}"></a>
                                    <div class="wrapgriditem">
                                        <header class="post-header">
                                            <h2 class="post-title">{{ post.title }}</h2>
                                        </header>
                                        <section class="post-excerpt">
                                            <p>
                                                {{ post.content|truncatewords:5 }}<a class="read-more" href="{% url 'post-detail' post.id %}">        ...READ MORE</a>
                                            </p>
                                        </section>
                                        <footer class="post-meta">
<!--                                            <img class="author-thumb" src="{% static 'blog/img/gravatar.jpg' %}" alt="David" nopin="nopin"/>-->
                                            <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                                            <time class="post-date" datetime="2016-12-18">{{ post.date_posted }}</time>
                                        </footer>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
					 </div>

			</div>
		</main>
       <div class="pagination">
           {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3'%}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Previous</a>
                {% endif %}
           {% endif %}
       </div>

	{% endblock %}
</body>
