{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

   <form class="profile" method="POST" enctype="multipart/form-data">

        <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <figure class="author-image">
		    <a class="img" href="#" style="background-image: url({{ user.profile.image.url }})"><span class="hidden"></span></a>
		</figure>
        <p class="text-secondary">{{ user.email }}</p>
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
   </form>

{% endblock %}